.tc-sidebar-header .tc-page-controls,
.tc-sidebar-header .tc-tab-buttons,
.tc-sidebar-header p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.tc-sidebar-header > div {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
}

.tc-sidebar-header > div > div:first-child {
  flex-shrink: 1;
  flex-basis: 100%;
}

.tc-sidebar-header > div > div:last-child {
  flex-grow: 1;
  max-width: 100%;
}

.tc-sidebar-header > div > div {
  flex-shrink: 0;
  margin-left: 0.5em;
  margin-right: 1em;
}
