.jobtitles {
  margin: 0 0 1em 2em;
}
.jobtitles dt,
.jobtitles dd {
  margin: 1em 0 1em 0;
  padding: 0 0 0 0;
}
.jobtitles dt {
  clear: both;
  float: left;
}
.jobtitles dd {
  float: right;
}
.jobtitles div {
  clear: both;
}